@model Data.Material
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h1>Добавление нового материала</h1>
    </div>
    <div class="card-body">
        <form asp-controller="AdminStuff" asp-action="CreateMaterial" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Название</label>
                <input type="text" class="form-control" asp-for="Name">
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>
